//DASHBOARD CARDS
.dashboardPage {
  h1 {
    margin: 0.15em 0 0 0.05em;
    padding: 0;
  }
  .cardBox {
    display: flex;
    flex-flow: wrap;
    width: 100;
    padding: 0 5px;
    margin: 12px auto 0 auto;
    .nannyCard {
      display: flex;
      flex-flow: column;
      text-align: left;
      width: 90%;
      margin: 2px auto;
      background: $maincolor;
      border: solid 2px black;
      border-radius: 13px;
      h2 {
        margin: 0.25em 0 12px 0.5em;
      }
      .card2Grid{
        width: 85%;
        margin: 0 auto 13px auto;
        display: flex;
        flex-flow: row wrap;
        div {
          width: 49%;
          padding: 0.12em 0;
        }
      }
      button {
        width: 85%;
        background: $maincolor2;
        margin: 10px auto;
        font-size: 3.0rem;
        border-radius: 15px;
        border: 1px solid black;
        color: white;
        font-family: 'Arizonia', cursive;
      }
      .otherLink .invert {
        background: $maincolor2;
        width: 85%;
        font-size: 2.2rem;
        text-align: center;
        margin: 10px auto;
        padding: 4px 0;
      }
    }
  }
  @media (min-width: $tablet) {
    width: 100%;
    .cardBox {
      .nannyCard {
        width: 49%;
      }
    }
  }
  @media (min-width: $desktop) {
    .cardBox {
      .nannyCard {
        width: 32%;
      }
    }
  }
}
