//PROFILE Page
.profilePage {
  display: flex;
  flex-flow: column;
  text-align: left;
  width: 90%;
  margin: 12px auto;
  background: $maincolor;
  border: solid 2px black;
  border-radius: 13px;
  h1 {
    margin: 0.25em 0 12px 0.5em;
    padding: 0;
  }
  .card2Grid{
    width: 85%;
    margin: 0 auto 13px auto;
    display: flex;
    flex-flow: row wrap;
    div {
      width: 49%;
      padding: 0.12em 0;
    }
  }
  .editButton {
    width: 85%;
    background: $maincolor2;
    margin: 10px auto;
    padding: 5px 0;
    font-size: 2.4rem;
    border-radius: 15px;
    border: 1px solid black;
    color: white;
    font-family: 'Arizonia', cursive;
  }
  .delProfile {
    padding: 5px 8px;
    text-decoration: none;
    color: $maincolor2;
  }
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {}
}


// HARD CODE OTHER CARDS WITH THIS BASE STYLE
.nannyCard {
  display: flex;
  flex-flow: column;
  text-align: left;
  width: 90%;
  margin: 2px auto;
  background: $maincolor;
  border: solid 2px black;
  border-radius: 13px;
  h2 {
    margin: 0.25em 0 12px 0.5em;
  }
  .card2Grid{
    width: 85%;
    margin: 0 auto 13px auto;
    display: flex;
    flex-flow: row wrap;
    div {
      width: 49%;
      padding: 0.12em 0;
    }
  }
  button {
    width: 85%;
    background: $maincolor2;
    margin: 10px auto;
    padding: 5px 0;
    font-size: 2.4rem;
    border-radius: 15px;
    border: 1px solid black;
    color: white;
    font-family: 'Arizonia', cursive;
  }
  @media (min-width: $tablet) {}
  @media (min-width: $desktop) {}
}
